## DataCollection-2018-20

In [1]:
import pandas as pd
import numpy as np
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings('ignore')

<H2>In this we will be using the wikipedia Data. We will use Webscraping to extract the data from the wikipedia. For this, we will use pandas. </H2>

### Scraping 2018 Movies Dataset from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,Unnamed: 6
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN

In [3]:
# Extracting the required Fetaures
df_2018 = df [['Title','Cast and crew']]
df_2018.head()

                     Title                                      Cast and crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                 Stratton  Simon West (director); Duncan Falconer, Warren...
3            Sweet Country  Warwick Thornton (director); David Tranter, St...
4             The Commuter  Jaume Collet-Serra (director); Byron Willinger...

In [4]:
df_2018.shape

(267, 2)

### Scraping 2019 Movies Dataset from Wikipedia

In [5]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]
df3 = pd.read_html(link, header=0)[5]
df4 = pd.read_html(link, header=0)[6]

df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,NaN,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,NaN,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,NaN,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,NaN,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,NaN,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]

In [6]:
df_2019 = df [['Title','Cast and crew']]
df_2019.head()

              Title                                      Cast and crew
0       Escape Room  Adam Robitel (director); Bragi F. Schut, Maria...
1        Rust Creek  Jen McGowan (director); Julie Lipson (screenpl...
2  American Hangman  Wilson Coneybeare (director/screenplay); Donal...
3  A Dog's Way Home  Charles Martin Smith (director); W. Bruce Came...
4        The Upside  Neil Burger (director); Jon Hartmere (screenpl...

In [7]:
df_2019.shape

(241, 2)

### Combining 2018 and 2019 dataset

In [8]:
data_18_19 = df_2018.append(df_2019, ignore_index=True)
data_18_19.shape

(508, 2)

### Scraping 2020 Movies Dataset from Wikipedia using Python Library BeautifulSoup

In [9]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'
source = urlopen(url).read()
soup = BeautifulSoup(source,'lxml')

In [10]:
#find_all('table') scans the entire document to look for the tag <table>
# On site there are 4 tables with the class "sortable"
# The following line will generate a list of HTML content for each table

tables = soup.find_all('table', attrs={"class": "sortable"})
print("Number of required tables on site: ", len(tables))

Number of required tables on site:  4

In [11]:
type(tables[0])

bs4.element.Tag

In [12]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] 
# avoided "ValueError: invalid literal for int() with base 10: '1"
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [13]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
4,JANUARY,10,The Sonata,Screen Media Films,Andrew Desmond (director/screenplay); Arthur M...,[6]

In [14]:
df_2020 = df[['Title','Cast and crew']]

In [15]:
df_2020.shape

(232, 2)

## Combining all the datasets from 2018 - 2020

In [16]:
df_18_to_20 = data_18_19.append(df_2020, ignore_index=True)

In [17]:
df_18_to_20.shape

(740, 2)

In [18]:
df_18_to_20.head()

                     Title                                      Cast and crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                 Stratton  Simon West (director); Duncan Falconer, Warren...
3            Sweet Country  Warwick Thornton (director); David Tranter, St...
4             The Commuter  Jaume Collet-Serra (director); Byron Willinger...

In [19]:
df_18_to_20.to_csv('Data-2018-to-20.csv', index=False)